.message-card {
  background-color: #fff;
  width: 60%;
  height: auto;
  word-wrap: break-word;
  margin: 1em auto 1em 1em;
  border-radius: 5px;
  padding: 0.25em;
}

.message-sent {
  margin-right: 1em;
  margin-left: auto;
  background-color: #dcf8c6;
}

.timestamp {
  font-size: xx-small;
  text-align: right;
}
